<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>测试历史记录</title>
</head>
<body >
<h1>历史记录测试</h1>
<p>uid = <label id="uid">7</label></p>
<p>ArticleID = <label id="ArticleID">10</label></p>
<label>limit：</label>
<input type="text" name="limit" id="limit" size="10" onkeyup="value=value.replace(/[^\d]/g,'')">
<input type="button" name="gethistory" id="gethistory" value="获取历史记录" onclick="gethistory_click()" >
<table>
<tbody id="t1">
</tbody>
</table>
</body>
<script src="<?php echo $this->config->item('base_url');?>js/user/jquery.js" type="text/javascript"></script>
<script type="text/javascript">

function start(){
	var uid = document.getElementById("uid").innerHTML;
	var ArticleID = document.getElementById("ArticleID").innerHTML;
	set_starttime(uid,ArticleID);
}

function end(){
	var uid = document.getElementById("uid").innerHTML;
	var ArticleID = document.getElementById("ArticleID").innerHTML;
	set_endtime(uid,ArticleID);
}

function set_starttime(uid,ArticleID){
	$.post("<?php echo $this->config->item('base_url');?>history/setstart",
	        {
				uid:uid,
				ArticleID:ArticleID
	        },
	        function(json){
				//alert("start_ok");
	        },
	        'json'
	  );
}

function set_endtime(uid,ArticleID){
	$.post("<?php echo $this->config->item('base_url');?>history/setend",
	        {
				uid:uid,
				ArticleID:ArticleID
	        },
	        function(json){
				//alert("end_ok");
	        },
	        'json'
	  );
}
window.onload=function(){
	start();
}
window.onbeforeunload=function(){
	end();
}

function gethistory_click(){
	var uid = document.getElementById("uid").innerHTML;
	var limit = document.getElementById("limit").value;
	gethistories(uid,limit);
}

function gethistories(uid,limit){
	$.post("<?php echo $this->config->item('base_url');?>history/gethistories",
	        {
				uid:uid,
				limit:limit
	        },
	        function(json){
	        	var result=json.result;
		        if(result==1){
					alert("该用户没有历史记录");
					showHistoryList(data);
			    }else if(result==0){
					var data=json.data;
					showHistoryList(data);
				}else{
					alert("操作失败");
				}
	        },
	        'json'
	  );
}
/**
 * 显示列表
 */
function showHistoryList(data){
	var t1=document.getElementById("t1");
	while(row=t1.lastChild){
       t1.removeChild(row);
    }
	for(one in data){
		var tr=document.createElement("tr");
		var td_title=document.createElement("td");
		var td_time=document.createElement("td");
		td_title.innerHTML=data[one].Title;
		td_time.innerHTML=data[one].time;
		
		tr.appendChild(td_title);
		tr.appendChild(td_time);
		t1.appendChild(tr);
	}

}
</script>
</html>